<app-barra></app-barra>

<div class="container my-4">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card">

        <div class="card-header bg-success text-center text-white">
          <h1><i class="bi bi-person-plus"></i>Mis empleados</h1>
        </div>

        <div class="card-body">

            <div class="row">

              <div class="col-lg-6 my-2">
                  <h5 class="card-title">Filtro de empleados</h5>
                  <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
                      <div class="input-group date" id="datetimepicker-minimum" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input"  #filtro="ngModel" name="filtro" [(ngModel)]="filtroText">
                          <div class="input-group-append">
                              <button type="submit" class="input-group-text"><i class="bi bi-search"></i></button>
                          </div>
                      </div>
                  </form>
              </div>
              <div class="table-responsive-sm">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombres</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">Cedula</th>
                      <th scope="col">Cargo</th>
                      <th scope="col">Correo</th>
                      <th scope="col">Tipo de contrato</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of datos_empleados; let index = index ">
                    <tr>
                      <td>{{index+1}}</td>
                      <td>{{item.nombres}}</td>
                      <td>{{item.apellidos}}</td>
                      <td>{{item.cedula}}</td>
                      <td>{{item.cargo}}</td>
                      <td>{{item.correo}}</td>
                      <td>{{item.tipoContrato}}</td>

                      <td><button type="button" class="btn btn-outline-danger me-2 my-2" data-bs-toggle="modal" data-bs-target="#modalEliminar" (click)="obtenerId(item)"><i class="bi bi-trash3"></i></button>
                        <button type="button" class="btn btn-outline-info me-2 my-2" data-bs-toggle="modal" data-bs-target="#modalActualizar" (click)="editar(item)"><i class="bi bi-wrench-adjustable"></i></button>
                     </td>

                    </tr>

                    <!-- Modal eliminar -->
                    <div class="modal fade" id="modalEliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Eliminar registro</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <h1>¿Realmente desea eliminar el registro?</h1>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminarEmpleado()">Eliminar</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Modal actualizar -->
                    <div class="modal fade" id="modalActualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Actualizar registro</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <form [formGroup]="formValue">
                              <div class="row">

                                <div class="col-md-6">
                                  <label>Nombre</label>
                                  <input type="text" class="form-control" formControlName="nombres">
                                </div>

                                <div class="col-md-6">
                                  <label>apellidos</label>
                                  <input type="text" class="form-control" formControlName="apellidos">
                                </div>

                                <div class="col-md-6">
                                  <label>Cedula</label>
                                  <input type="text" class="form-control" formControlName="cedula">
                                </div>

                                <div class="col-md-6">
                                  <label>cargo</label>
                                  <input type="text" class="form-control" formControlName="cargo">
                                </div>

                                <div class="col-md-6">
                                  <label>correo</label>
                                  <input type="text" class="form-control" formControlName="correo">
                                </div>

                                <div class="col-md-6">
                                  <label>tipo de contrato</label>
                                  <input type="text" class="form-control" formControlName="tipoContrato">
                                </div>


                              </div>

                          </form>

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="actualizarEmpleado()">Actualizar</button>
                          </div>
                        </div>
                      </div>
                    </div>


                  </tbody>
                </table>
              </div>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>

