.propia{
    background-color:black;
    
}

.imagen{
    width: 500px;
    height: 500px;

}

.propia2{

    background-color: #000000;
}

.propia3{
    background-color: #F58840;
    color:#000000;
}