<div class="container my-4">
  <div class="row">

    <div class="col-md-10 mx-auto">
      <div class="card">

        <div class="card-header bg-info text-center text-white">
          <h4><i class="bi bi-person-plus"></i>Censo de personas</h4>
        </div>

        <div class="card-body">
          <form [formGroup]="formValue">
            <div class="row">

              <div class="col-md-6">
                <label>Nombre</label>
                <input type="text" class="form-control" formControlName="nombres">
              </div>

              <div class="col-md-6">
                <label>Apellido</label>
                <input type="text" class="form-control" formControlName="apellidos">
              </div>

              <div class="col-md-6">
                <label>Estrato</label>
                <select class="form-control" formControlName="estrato">
                  <option value="" selected>SELECCIONAR</option>
                  <option *ngFor="let item of estrato" value="{{item}}">{{item}}</option>
                </select>
              </div>

              <div class="col-md-6">
                <label>Ciudad</label>
                <select class="form-control" formControlName="ciudad">
                  <option value="" selected>SELECCIONAR</option>
                  <option *ngFor="let item of ciudad" value="{{item}}">{{item}}</option>
                </select>
              </div>

            </div>
            <button (click)="guardar_detalle(formValue)" type="submit" class="btn btn-outline-info my-3"> <i class="bi bi-save"></i> Guardar</button>
        </form>
        </div>

      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-10 mx-auto">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Estrato</th>
            <th scope="col">Ciudad</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of data_detalle; let index = index ">
          <tr>
            <td>{{index+1}}</td>
            <td>{{item.nombres}}</td>
            <td>{{item.apellidos}}</td>
            <td>{{item.estrato}}</td>
            <td>{{item.ciudad}}</td>
            <td><button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash3"></i></button></td>
          </tr>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Eliminar registro</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h1>¿Realmente desea eliminar el registro?</h1>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary"data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="remover(index)">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </tbody>
        <h1>Total de registros: {{contador}}</h1>
      </table>
    </div>
  </div>


<!-- Modal -->


</div>
