<h1>Soy el componente prueba 1</h1>
<h3>Prueba de interpolación: {{nombre}}</h3>

<hr>
<h3>Nombre desde interpolación: {{nombre}}</h3>
<h3>Edad desde interpolación: {{edad}}</h3>
<a href="">{{nombre}}</a>

<hr>
<h3>pruebas logicas: {{2+2}}</h3>
<h3>pruebas logicas: {{2*2}}</h3>
<h3>pruebas logicas: {{2-2}}</h3>


<h3>pruebas logicas: {{edad+5}}</h3>


<ul>
  <li>{{pasaTiempo}}</li>
</ul>


<ul *ngFor="let i of pasaTiempo">
  <li>{{i}}</li>
</ul>


<p *ngIf="edad>=18;else menor">Es mayor de edad</p>

<ng-template #menor><p>Es menor de edad</p></ng-template>

<button (click)="receso()">Click</button>
