<div class="container">

      <h1>Programa de: {{titulo}}</h1>
      <div *ngIf="mensaje_ok">
        <div class="alert alert-success alert-dismissible fade show" role="alert" >
          <strong>{{mensaje_ok}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>


      <div *ngIf="mensaje_error">
        <div class="alert alert-danger alert-dismissible fade show" role="alert" >
          <strong>{{mensaje_error}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>




    <div class="form-group my-5">
      <div class="row">

        <div class="col-12">
          <label for="">Número 1</label>
          <input type="number" class="form-control" placeholder="Ingrese un número" [(ngModel)]="num1">
        </div>

        <div class="col-12">
          <label for="">Número 2</label>
          <input type="number" class="form-control" placeholder="Ingrese un número" [(ngModel)]="num2">
        </div>

        <div class="col-12 my-2">
          <input type="Button" value="sumar" class="btn btn-primary m-1" (click)="sumar()">
          <input type="Button" value="restar" class="btn btn-success m-1">
          <input type="Button" value="multiplicar"class="btn btn-warning m-1">
          <input type="Button" value="dividir" class="btn btn-danger m-1">
        </div>

        <div class="col-12">
          <label for="">Aqui se imprime el resultado</label>
          <input type="text" class="form-control" placeholder="Resultado :{{resultado}}">

        </div>

      </div>
    </div>

</div>


