.Biografia{
    font-size: 2cm ;
}

}
h2{
    font-size: 1cm;
    margin-left: 4px;
    margin-right: 1px;
    margi

}
.estiloParrafo{
    font-size: x-large;
    margin-left: 20px;
    margin-right: 1px;

}

.pasatiempos{
    font-size: 2cm ;

}

.Son{
    font-size: 1.5cm;
    margin-left: 4px;
    margin-right: 1px;
}

.estiloParrafodos{
    font-size: x-large;
    margin-left: 10px;
    margin-right: 82px;

}

.proyectos{
    font-size: 2cm;

}

.textoTres{
    font-size: x-large;
    margin-left: 10px;
    margin-right: 82px;

}

.redesSociales{
    font-size: 2cm;


}
