<p>
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>


      <!-- este es el template -->
      <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/calculadora">Calculadora</button>
      <button mat-menu-item routerLink="/formulario">Formulario 1</button>
      <button mat-menu-item routerLink="/card">Card</button>
      </mat-menu>

    <span>Mi primera aplicación con Angular</span>


    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>
