
<app-barra></app-barra>
  <div class="container">
      <nav class="navbar navbar-expand navbar-theme">
          <a class="sidebar-toggle d-flex mr-2">
              <i class="hamburger align-self-center"></i>
          </a>
      </nav>
      <main class="content">
          <div class="container-fluid">


              <div class="row">
                <h2>Reporte de ventas</h2>
                  <div class="col-12 col-xl-12">
                      <div class="card">

                          <table class="table table-striped table-hover">
                              <thead>
                                  <tr>
                                      <th>id venta</th>
                                      <th>Cliente</th>
                                      <th>Fecha</th>
                                      <th>Trabajador</th>
                                      <th>Opciones</th>
                                  </tr>
                              </thead>
                              <tbody>

                                      <td>
                                        {{""}}
                                    </td>
                                      <td>
                                        {{""}}
                                      </td>

                                      <td>{{"" | date: 'MMM d, y, h:mm:ss a'}}</td>
                                      <td>
                                         {{""}} {{""}}
                                      </td>
                                      <td>
                                        <button  class="btn btn-warning me-1 my-1" style="width: 78px !important;" routerLink="/venta-detalle/">Ver</button>

                                      </td>
                              </tbody>
                          </table>
                      </div>
                  </div>

              </div>
          </div>
      </main>

  </div>

