<app-barra></app-barra>
<div class="bg-info py-5">

  <div class="container">
    <h1 class="text-white text-center">Bienvenidos a mi punto de venta</h1>
    <div class="row">
      <div class="col-6">
         <p class="text-white h4">Esta aplicación esta lista para que generes los procesos de venta.</p>
      </div>
      <div class="col-6">
        <img class="img-fluid" src="https://www.giitic.com/img/pos/Caja_cierre_apertura_arqueo.png?pfdrid_c=true" alt="">
      </div>
    </div>



  </div>

</div>


<div class="bg-secondary py-5">

  <div class="container text-center">
    <h1 class=" text-white">Es una aplicación de pruebas</h1>
    <p class="text-white h5">No va contener lo siguiente:</p>

    <ol class="list-group list-group-numbered">
      <li class="list-group-item">Manejo de nómina</li>
      <li class="list-group-item">Cobros con iva, impoconsumo, ica, etc</li>
      <li class="list-group-item">Pagos con tarjeta</li>
      <li class="list-group-item">Gráficas</li>
    </ol>
  </div>
  <p class="text-xl-center text-white">Con mucha investigación podrás lograr lo anterior</p>
</div>


