<app-barra></app-barra>

<div class="container ">

  <h1 class="fs-1 text-center text-info my-3">Bienvenido</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://static.vecteezy.com/system/resources/previews/002/695/363/large_2x/cartoon-worker-man-shows-the-boss-the-sales-chart-and-the-boss-is-very-happy-that-the-sales-are-high-illustration-free-vector.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
</div>

