body{
    background-color: #5494EB;
    padding: auto;
    margin: auto;
}

.tituloCss{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    text-decoration: underline;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.fotoCss{

    height: 500px;
    width: 500px;


    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;

}



.descripCss{

    margin-top: auto;
    margin: 70px;
    padding: 20px;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;

}

.pasatiemCss{

    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    text-decoration: underline;
}

.descPasatCss{

    margin-top: auto;
    margin: 70px;
    padding: 0rem;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;

}


img{
    max-width: 100%;
    max-height: 100%;
}

.imgPasatCss{

    height: 700px;
    width: 400px;


    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}

.FutProyeCss{

    margin: 0px;
    padding: 0rem;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    text-decoration: underline;
}

.parrFtProCss{

    margin-top: auto;
    margin: 70px;
    padding: 0rem;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
}

.imgAyudaCss{

    height: 700px;
    width: 400px;


    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
}

.RedesCss{

    margin: 0px;
    padding: 0rem;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    text-decoration: underline;
}

.footerCss{

    margin-left: auto;
    margin-right: auto;

}

.txtFootCss{

    margin-top: auto;
    margin: 70px;
    padding: 0rem;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
}

.btnRedesCss{

    height: 80px;
    width: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    
  
}

footer div a{
    margin-top: auto;
    margin: 70px;
    padding: 0rem;
    text-align: center;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
}
