h1 {background-color: rgb(243, 232, 232);
color: darkturquoise;
text-align: center;

}

p {text-align: center;}

.bio {font-style: oblique;}
  
h2 { color: rgb(78, 111, 121);
text-align: center;
background-color: rgb(243, 232, 232)}
}

.Meraki { font-size: xx-large;
color: aliceblue;}

h3 {text-align: center; color: darkgreen;

.ig { margin: 10px;}
.fb {text-align: center;}
.li {margin: 60px;}
