.bloque1{
    background-color: rgb(246, 219, 248);
    border: 10px solid blueviolet;
    text-align: center;
}

h1{
    text-align: center;
    color: mediumblue;
}
.parrafo1{
    text-align: center;
}

.img1{
    width: 420px;
    height: 320px;
    display: block;
    margin: auto;
}